<!doctype html>
<html lang="en">
  <head>
    <!-- Imported from Head.ejs -->
    <% include partials/head.ejs %>
    
  </head>
  <body>
    
    <!-- NavBar -->
    <% include partials/header.ejs %>

    <!-- Main Body -->
    <div id="hero-image-notFound">
      <h1 id="hero-title"><%= title %></h1>
    </div>

  
    <!-- Imported from Scripts.ejs -->
    <% include partials/scripts.ejs %>
  </body>
</html>